/* light color scheme */

:root {
	color-scheme: light;

	--base-bg: 252 252 251;
	--base-fg: 41 43 47;

	--opacity-fg: 100%; /* primary text */
	--opacity-fg-contrast-13: 94%;
	--opacity-fg-contrast-10: 84%;
	--opacity-fg-contrast-7-5: 75%;
	--opacity-fg-contrast-6: 67%;
	--opacity-fg-contrast-5: 63%;
	--opacity-fg-contrast-4-5: 59%;

	--opacity-gradient-lit: 0%;
	--opacity-gradient-shadowed: 13%;

	--opacity-shadow-80: 80%;
	--opacity-shadow-25: 25%;
	--opacity-shadow-10: 10%;

	--opacity-deleted: 0.6;

	/* backgrounds and foregrounds */
	--color-bg-accent: #b74139;
	--color-bg-target: #f3e8e6;

	--color-fg-link: #1f5fbf;
	--color-fg-link-visited: #5b5795;
	--color-fg-accent: #b74139;
	--color-fg-on-accent: #fff;
	--color-fg-negative: rgb(139 0 0); /* red as in warning */
	--color-fg-affirmative: rgb(0 128 0);
	--color-fg-author: rgb(96 129 189);
	--color-fg-shape: rgb(174 178 184);

	/* elements */
	--color-box-bg: #fff;
	--color-box-bg-shaded: #f1f2f3;
	--color-box-border: #d4d7db;
	--color-box-border-focus: #1f5fbf;
	--color-header-bg: #202226;

	--color-button-bg: #f7f8f9;
	--color-button-bg-shaded: #e9ebed;

	--color-table-header-bg: #e9ebed;
	--color-table-header-border: #cfd3d8;
	--color-table-row-bg-even: #fafafa;
	--color-table-row-bg-odd: #f4f5f6;
	--color-table-row-border: #e4e6e9;

	--color-tag-bg: #f1f2f3;
	--color-tag-border: #d4d7db;
	--color-tag-media-bg: #e6f0fb;
	--color-tag-media-border: #a8c7e8;
	--color-tag-meta-bg: #e8eaec;
	--color-tag-meta-border: #c8ccd1;

	--color-hat-crown-fill: #ddd;
	--color-hat-crown-stroke: #eee;
	--color-hat-brim-stroke: #bbb;

	--color-flash-bg-error: #fdcfcc;
	--color-flash-bg-success: #dff0d8;
	--color-flash-bg-notice: #cce6ee;

	--color-thneed-fg-has-suggestions: #a2322c;
	--color-thneed-tag-special-bg: #f7e8e6;
	--color-thneed-tag-special-border: #d7a19c;
	--color-thneed-hat-sysop-crown-fill: #ccc;
	--color-thneed-hat-sysop-brim-stroke: #aaa;

	/* mobile */
	--color-mobile-story-comments-bubble-fill: #ccc;
	--color-mobile-story-comments-bubble-fill-zero: #d8d8d8;
}
